// Colores
$negro: #000000;
$blanco: #ffffff;
$azul:  #0D00FF;
$transparente: #ffffff00;

// Tipografía
$font-title: 'Barlow Condensed', sans-serif;
$font-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-secondary: Georgia, serif;


// _variables.scss
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 800;
$black: 900;

// Transiciones
$suave: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);